<!-- include bundle.js after eveything else in DOM loads, 
    question: why this path works? but '/public/bundle.js doesn't work
    ans: it can read public directly? -->
<script src="/bundle.js" charset="utf-8"></script>
</body>
</html>
