<!-- include bundle.js after eveything else in DOM loads, 
    question: why the path works here? while '/publi/bundle.js doesn't work -->
<script src="/bundle.js" charset="utf-8"></script>
</body>
</html>
