<!DOCTYPE html>
<html lang="en">
    <head>
        <title>The EJS Page</title>
    </head>
    <body>
        <h5>EJS random number</h5>
        <div>
            <%= content %>
        </div>
    </body>
</html>