.ContestPreview {
  margin: 1em;
  border: 1px solid #ccc; }
  .ContestPreview .category-name {
    border-bottom: 1px solid green;
    background-color: aqua; }
  .ContestPreview .contest-name {
    padding: 0.5em; }
  .ContestPreview .contest-id {
    background-color: brown; }

.link {
  cursor: pointer; }
